<% layout('layouts/boilerplate') -%>

<form action="/shots/<%=shot._id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
   <div><input type="text" name="shot[title]" value="<%=shot.title%>"></div>
   <div><input type="text" name="shot[body]" value="<%=shot.body%>"></div>
   <div>
     <input type="file" id="imageUpload" accept="images/*" name="images" multiple/>
     <% shot.images.forEach(function(image, i){ %>
      <div>
      <img src="<%=image.url%>" width="50px">
      <label for="image<%=i%>">Delete?</label>
      <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%=i%>" value="<%=image.public_id%>">
      </div>
     <% }); %>
   </div>
   <button class="submit-shot-button">Submit</button>
</form>


<script src="/javascripts/shot-edit.js"></script>