<% layout('layouts/boilerplate') -%>





<div class="showDiv">
 
    <div class="shot-header">
   <a href="/users/<%=shot.author.id%>"><img class="shot-header-avatar" src="<%= shot.author.avatar %>" class="profile-image" alt="user profile image"></a>
    <div class="shot-title"><h1><%= shot.title %></h1></div>
    <p class="shot-details">by <a href="/users/<%=shot.author.id%>"><%=shot.author.username%></a> <span><%= moment(shot.createdAt).fromNow() %></span> in  <a href="/shots?search="><span><%=shot.category%></span></a></p>
    </div>

  
    <div class="shot-body">
 <img src="<%=shot.image%>" alt="the image">
    </div>


      <div class="shot-description">
        <p><%= shot.body %></p>
        <div class="shot-buttons">
       <% if(shot.author.equals(currentUser)) { %>
    
       <button class="edit-comment-button" id="btn"><a class="" href="/shots/<%=shot._id%>/edit">Edit shot</a></button>
       <form id="delete" action="/shots/<%=shot._id%>?_method=DELETE" method="POST">
       <button class="delete-comment-button" id="btn">Delete shot</button>
       </form>
       
      
       <% } %>
       </div>
      </div>
       
      




<div class="comments-section">
  <h3 id="comments-header"><span id="comments-counter"> <%=shot.comments.length%> </span> Comments</h3>

   <% if (currentUser) { %>
      <form action="/shots/<%=shot._id%>/comments" id="comment-form" method="POST">
        <div class="field">
          <textarea type="text" name="comment[body]" id="comment-body" placeholder="Your comment" required></textarea>
        </div>
          <button id="btn">Comment</button>
      </form>
   <% } %>

    <div class="comments-group" id="comments-list">
        <% shot.comments.forEach(function(comment){ %>
          <div class="content">
            <a href="/users/<%=shot.author.id%>"><img src="<%= comment.author.avatar %>" class="profile-comment-image" alt="user profile image"></a>
            <a href="/users/<%=comment.author.id%>" class="comment-author"><%=comment.author.username%></a>
             <div class="comment-body">
                   <p><%=comment.body%></p>
                   </div>
                   <div class="comment-meta">
                   <span><%= moment(comment.createdAt).fromNow() %></span>
                  </div>
                   <% if(currentUser && comment.author.equals(currentUser.id)) { %>

                  <div class="edit-and-delete">
       
                  <form action="/shots/<%=shot._id%>/comments/<%=comment._id%>?_method=PUT" method="POST" class="edit-comment-form">
                   <textarea name="comment[body]"><%=comment.body%></textarea>
                  <input type="submit" id="btn" value="Update">
                </form>
           <input type="submit" class="toggleEditForm" id="btn" value="Edit">
               

                   <form class="delete-item-form" action="/shots/<%=shot.id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
                 <input type="submit" class="delete-comment-button" id="btn" value="Delete">
                 </form>
                  </div>   
                 <% } %>
                  </div>
      <% }) %>
  </div>

    
</div>
      <div class="shot-stats">

        <div class="shot-likes">
        <span id="likes-main">
        <p><i class="fas fa-heart <%=loveColorClass%>" id="loveClass"></i>
        Likes 
        <span id="loves-count" style="float:right"><%=shot.likes.length%></span></p>
        </span>
        </div>
          
        <div class="shot-share">
        <i class="fas fa-share"></i>
         Share <span class="share-icons" style="float:right">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fas fa-envelope"></i>
        </div>
    
      </div>

      <div class="contents">
     <% for (var i = 0; i < shots.length; i++) { %>
    <div class="nested">
    
    <a href="/shots/<%= shots[i].id %>"><img src="<%= shots[i].image %>"></img></a>
    </div>
    <% }; %>
    </div>
    
</div>


<script>
  var shot = <%- JSON.stringify(shot) %>;
</script>


<script>
<% if(currentUser) { %>
    $('#likes-main').on('click', function() {
        var ajaxRequestLove = $.get("<%= shot._id %>/<%= currentUser._id %>/like");                       
        /* Process returned result */
        ajaxRequestLove.done(function( data ) {
            if(data) {
                //add one to love, change color
                $('#loves-count').text((parseInt($('#loves-count').text()) + 1));
                $('#loveClass').removeClass("colorGrey")
                $('#loveClass').addClass("colorRed")
            } else {
                //remove one from love, change color
                $('#loves-count').text((parseInt($('#loves-count').text()) - 1));
                $('#loveClass').removeClass("colorRed")
                $('#loveClass').addClass("colorGrey")
            }
        });
    });
<% } else { %>
    $('#likes-main').on('click', function(){
        window.location.href = "/register?return_url=" + window.location.pathname;
    });
<% } %>




</script>
