 <% layout('layouts/boilerplate') -%>

<h1>edit <%=user.username%></h1>


<form id="updateForm" action="/users/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">


<div>
<img src="<%= user.avatar %>" style="width: 80px; height: 80px; border-radius: 100px">
 <input type="file" class="imageInput" id="imageUpload" name="image" accept="image/*">

</div>

<label>username</label>
<div><input id="id"  type="text" name="username" value="<%= user.username %>" ></div>
<label>firstname</label>
<div><input id="id"  type="text" name="firstName" value="<%= user.firstName %>" ></div>
<label>email</label>
<div><input id="id"  type="email" name="email" value="<%= user.email %>" ></div>
<label>bio</label>
<div><input id="id"  type="text" name="bio" value="<%= user.bio %>" ></div>
<label>location</label>
<div><input id="id"  type="text" name="location" value="<%= user.location %>" ></div>

<div><a href="/users/<%= user._id %>">Go Back</a></div>

 
<input type="submit" value="Save">
</form>
