 <% layout('layouts/boilerplate') -%>


<div class="main-edit">
<div class="editFormMain">


<h1>Edit <%=user.username%></h1>


<form id="updateForm" action="/users/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

<label>Avatar</label>
<div class="changeAvatar">

<img src="<%= user.avatar %>" style="width: 50px; height: 50px; border-radius: 100px">
 <input type="file" class="imageInput" id="imageUpload" name="image" accept="image/*">
</div>



<div>
<label>Username</label>
<input id="id"  type="text" name="username" value="<%= user.username %>" >
</div>


<div>
<label>First Name</label>
<input id="id"  type="text" name="firstName" value="<%= user.firstName %>" >
</div>


<div>
<label>Email</label>
<input id="id"  type="email" name="email" value="<%= user.email %>" >
</div>



<div>
<label>Bio</label>
<input id="id"  type="text" name="bio" value="<%= user.bio %>">
</div>


<div>
<label>Location</label>
<input id="id"  type="text" name="location" value="<%= user.location %>">
</div>

 
<input type="submit" value="Save" class="saveUser">

<div class="goBack"><a href="/users/<%= user._id %>">Go Back</a></div>

</form>


</div>
</div>
