<% layout('layouts/boilerplate') -%>



<div class="wrapper">
     <div class="profile-stats">
      <p><i class="fas fa-folder"></i><%= shots.length %></p>
      <p><i class="fas fa-heart"></i><%= likes %></p>
      <p><i class="fas fa-comment"></i><%= comments %></p>
      </div>    
   <aside class="sidebar">
      <div class="profile-info">
      <img src="<%= user.avatar %>" class="profile-image" alt="user profile image">
      <h1><%=user.username%></h1>
      <p class="userLocation"><%= user.location %> </p>
      <p> <%=user.bio%></p>
     
      <p>Joined <span style="font-weight: bold"><%= moment(user.createdAt).format("MMMM YYYY") %></span></p>
     

        <% if(currentUser && currentUser._id.equals(user._id)) { %>

        <form action="/users/<%=user._id%>/edit">
          <input type="submit" value="Update profile" class="updateProfile" />
        </form>
        <% } %>
      </div>
   
    
   </aside>
    
  <article class="content">
    <% shots.forEach(function(shot){ %>
     <div class="panel">
    <a href="/shots/<%=shot.id%>"><img src="<%=shot.image%>" alt="the image" width="200px"></a>

     <p class="title"><a href="/shots/<%=shot.id%>"></img><%=shot.title.substring(0,25)%></a>..</p>
      <p><a href="/users/<%=shot.author.id%>"><%=shot.author.username%></a></p>
      <p><%=shot.category%></p>
      <div class="shotStatsCount">
        
        <span class="shotLikesCount"><i class="fas fa-heart"></i><a href="/shots/<%=shot.id%>"><%=shot.likes.length%></a></span>
        <span class="shotCommentsCount"><i class="fas fa-comment"></i><a href="/shots/<%=shot.id%>"><%=shot.comments.length%></a></span>

        </div>
    </div>
    
      <% }); %>
    
  </article>


    
</div>



    
   
   
    



